.bus-modal {
  display: block; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .bus-modal-content {
    margin: 10% auto;
    border: 2px solid white;

    width: 54.5rem;
    height: 39.5rem;
    gap: 0px;
    border-radius: 1.9rem;

    background: radial-gradient(
      99.17% 99.17% at 49.01% 0.83%,
      #ffe9d7 41.03%,
      #fdb374 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    position: relative;
    background: radial-gradient(
      99.17% 99.17% at 49.01% 0.83%,
      #ffe9d7 41.03%,
      #fdb374 100%
    );
    border-radius: 1.9rem;
    .ellipse {
      position: absolute;
      top: -4rem;
      left: 27.25rem;
      transform: translateX(-50%);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: linear-gradient(180deg, #ffffff 24.5%, #fee8d5 100%);
      height: 9.2rem;
      width: 9.2rem;
      border-radius: 4.6rem;
      border: 1px solid rgba(253, 179, 116, 1);
    }
    hr {
      width: 480.25px;
      border: none; /* Remove default border */
      height: 1px; /* Set height */
      background: linear-gradient(90deg, #ffe9d7 0%, #fd9a46 49%, #ffe9d7 100%);
    }
    h1 {
      font-size: 2.8rem;
      font-weight: 600;
      text-align: center;
    }
    p {
      font-size: 1.2rem;
      font-weight: 500;
      font-family: Inter, sans-serif;
      color: rgba(74, 74, 74, 1);
      width: 50%;
      text-align: center;
      font-size: 1.4rem;
    }
    input {
      width: 48rem;
      height: 4rem;
      padding: 10px 12px 10px 12px;
      gap: 8px;
      border-radius: 8px;
      text-align: center;
      font-size: 1.4rem;
    }
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    .primary__btn {
      width: 20rem !important;
      justify-content: space-around;
      padding: 1.2rem 2.5rem;
      height: 5rem;
      border: 1px solid rgba(254, 205, 163, 1);
      &:not(:hover){

        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.075);
      }
    }
  }
}
.close {
  position: absolute;
  font-size: 35px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  top: 2rem;
  right: 2rem;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  .modal-content {
    z-index: 20;
    padding: 3rem;
    border-radius: 0.8rem;
    margin: 15% auto;
    border: 2px solid white;
    background-color: white;
    width: 42.2rem;
    min-height: 28.3rem;
    gap: 0px;
    // overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 5rem;
    h1 {
      font-size: 2.8rem;
      font-weight: 600;
      font-family: DM Sans, sans-serif;
    }
    p {
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      line-height: 16.94px;
      text-align: center;
      color: rgba(74, 74, 74, 1);
    }
    button.secondary__btn{
      min-width: 20rem !important;
    }
  }
}
.qr-modal {
  display: block; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  .modal-content {
    input,
      select {
        width: 37rem;
        height: 40px;
        padding: 8px 12px 8px 12px;
        gap: 4px;
        border-radius: 8px;
        border: 1px solid rgba(197, 198, 201, 1);
        // background-color: rgb(244, 251, 251);
      }
    z-index: 20;
    padding: 3rem;
    border-radius: 0.8rem;
    margin: 10% auto;
    border: 2px solid white;
    background-color: white;
    width: 45.3rem;
    min-height: 28.3rem;
    gap: 0px;
    // overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 5rem;
    h1 {
      font-size: 2.2rem;
      font-weight: 600;
      font-family: DM Sans, sans-serif;
    }
    p {
      font-family: Inter;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 16.94px;
      text-align: center;
      color: rgba(74, 74, 74, 1);
    }
    button.secondary__btn{
      min-width: 20rem !important;
    }
    .input__group {
      display: flex;
      flex-direction: column;
      font-size: 1.4rem;
      font-weight: 500;
      color: rgba(77, 84, 100, 1);
      gap: 2px;
      margin-bottom: 1rem;
      input,
      select {
        width: 37rem;
        height: 40px;
        padding: 8px 12px 8px 12px;
        gap: 4px;
        border-radius: 8px;
        border: 1px solid rgba(197, 198, 201, 1);
        // background-color: rgb(244, 251, 251);
      }
      textarea {
        width: 37rem;
        padding: 8px 12px 8px 12px;
        gap: 4px;
        border-radius: 8px;
        border: 1px solid rgba(197, 198, 201, 1);
        background-color: rgb(244, 251, 251);
      }
      select option {
        padding: 10px;
        background-color: #fff;
        color: #333;
        font-size: 14px;
      }
    }
  }
}

.MuiAlert-message .css-zioonp-MuiAlert-message{
  font-size: 1.4rem;
}

.header-button{
  background: #fdb374 ; 

}
.profile-header{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  ul li:not(:last-child) {
   border-bottom: 1px solid sandybrown; /* Add a bottom margin to all li elements except the last one */
  }
}