
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
background-color: rgba(244, 247, 254, 1);
 .busntwrk__body{
    display: flex;
    flex-direction: row;
 }
 .bus__body{
    max-height: calc(100vh - 90px);
    overflow-y: scroll;
 }
}